/* Move to Content Section */


.site-branding {
    margin-top:10px;
    display:inline;
    float:left;
}

.site-branding img{
    width:80%;
    height:auto;
}

a.menu-link {
    float:right;
    padding:2em;
}
.site-navigation {
    text-align:center;
}

.purpleblocks{
    background-color:#52538A;

}

.yellowblocks {
    width:100%;
overflow:hidden;
}



.blockwrap {

    box-shadow: 2px 2px 6px 0px rgba(154,154,154,0.50);
    background-color:#fff;
    overflow:hidden;
    padding:17px;
}

.blockwrap ul {
    margin:0;
    padding:0;
    list-style-type: none;
}

.events li {
    padding: 1em 0;
    border-bottom: 2px solid #DFDFDF;
}



.block1, .block2{
width:100%;
height:auto;

padding:15px;
background-color: #F3C62B;
    /*border: solid 30px #F3C62B;*/

    overflow:hidden;
}

.funfacts {
        display:block;
        width:100%;
        height:auto;
    }

.fact {
    padding-bottom:20px;
}

.p-left img{
    width:100%;
    height:auto;
}



.p-right {
    padding:20px;
}

.p-right p {
    margin:0 0 .8em;
}





.front-page-intro-text p{
    padding: 1em 1.5em;
}

@media screen and (min-width: 48.25em) {
    .site-branding {
        margin-top:0;
    }
    .p-right {
        padding:40px;
    }



    .blockwrap {
        padding:35px;
    }

    .block1, .block2 {
        padding:30px;
        float:left;
        width:50%;
    }

    .block-headline {
        font-family:montserrat;

        font-size:31px;

    }

    .purpleblocks {
        max-width:960px;

        width:100%;
        height:auto;
        overflow:hidden;
    }
    .p-left{
        float:left;
        width:50%;
    }

    .p-right {
        margin-left:50%;
        width:50%;
        padding-top:60px;

    }







    .fact {
        display:block;
        float:left;
        width: 33%;
        padding:20px 20px 70px;
    }

    .site-content, {
        margin: 0 auto;
        max-width:1020px;
    }

    .site-header, .hero{
        margin: 0 auto;
        max-width:1220px;

    }





}