/*!
Theme Name: wslc
Theme URI: http://underscores.me/
Author: Chris Sorrentino
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: wslc
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

wslc is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  color: #70f8ba; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

h2 {
  font-family: 'Montserrat';
  font-size: 30px;
  color: #8142B8; }

h3 {
  font-family: 'Open Sans';
  font-weight: 700;
  margin: 1em 0 0;
  font-size: 20px;
  color: #4B4B4B;
  letter-spacing: 0px; }

@media screen and (min-width: 48.25em) {
  h3 {
    margin: 0; }

  .main-nav-link {
    font-size: 20px; } }
h4 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  color: #727272;
  margin: 5px 0 16px; }

* {
  -webkit-font-smoothing: antialiased; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

footer {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px; }

@media screen and (min-width: 48.25em) {
  .footer-address, .footer-social {
    text-align: center; } }
.footer-menu-container {
  font-weight: 300;
  font-size: 13px;
  line-height: 22px; }

.footer-menu-container a {
  text-decoration: none;
  color: #fff; }

.footer-menu-container a:hover {
  text-decoration: none;
  color: #5fb49c; }

h4.footer-top-links {
  font-weight: 700;
  font-style: normal;
  margin: 0;
  color: #5fb49c; }

/* Front page */
.menu {
  font-family: montserrat, sans-serif; }

.front-page-intro-text p {
  font-family: open sans, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #444444;
  line-height: 1.7; }

.fact {
  text-align: center; }

.fact strong {
  font-family: open sans;
  font-size: 23px;
  color: #16B696; }

.fact p {
  font-family: open sans;
  margin-top: 5px;
  font-size: 15px; }

.purple-block-text {
  font-family: open sans;
  font-weight: 300;
  font-size: 23px;
  color: #E6E6E6; }

.register-now {
  font-size: 23px;
  font-weight: 400;
  font-family: open sans, sans-serif;
  color: #70f8ba; }

.blockwrap li {
  text-align: left; }

.blockwrap .events li {
  font-family: Montserrat;
  font-size: 20px;
  color: #6568A8; }

.blockwrap .news li {
  font-family: Open Sans;
  font-size: 16px;
  color: #888888;
  letter-spacing: 0px;
  line-height: 23px; }

.block-headline {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 23px;
  color: #6568A8; }

.event-date, .tribe-event-date-start {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 25px;
  /*color: #73B4A5;*/
  color: #5fb49c;
  margin-right: 2em; }

h4.entry-title {
  margin: 0;
  display: inline; }

h4.entry-title a {
  color: #404040;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

.news-link {
  font-family: OpenSans;
  font-size: 16px;
  /*color: #73B4A5;*/
  color: #5fb49c;
  letter-spacing: 0px; }

.teacher-description {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #000000;
  line-height: 24px;
  margin: 0 1.25em; }

.site-content a {
  line-height: 1.6;
  text-decoration: none;
  color: #8142B8;
  border-bottom: 1px solid #70f8ba; }

.secondary-faculty h2 {
  margin: 0 0 .25em; }

.secondary-faculty-position i {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  color: #727272;
  margin: 5px 0 16px; }

@media screen and (min-width: 48.25em) {
  .block-headline {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 31px;
    color: #6568A8; }

  .front-page-intro-text p {
    font-weight: 300;
    font-size: 23px;
    padding: 1.25em;
    text-align: center;
    color: #444444;
    line-height: 42px; }

  .teacher-description {
    font-size: 16px;
    line-height: 24px; } }
.neon-green {
  color: #70f8ba; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

/*

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

*/
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #ccc; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*
a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/*fancy nav */
.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 44px;
  height: 34px;
  margin: 24px;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent; }
  .cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* hamburger icon in CSS */
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: black; }
  .cd-nav-trigger span {
    /* line in the center */
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px;
    -webkit-transition: background 0.2s;
    transition: background 0.2s; }
  .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* other 2 lines */
    content: '';
    right: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s; }
  .cd-nav-trigger span::before {
    /* menu icon top line */
    top: -6px; }
  .cd-nav-trigger span::after {
    /* menu icon bottom line */
    top: 6px; }
  @media screen and (min-width: 40em) {
    .cd-nav-trigger {
      display: none; } }

/*End fancy nav */
a.menu-link {
  float: right;
  display: block;
  padding: 1em; }

.menu a {
  text-decoration: none;
  -webkit-transition: background-color .25s linear,border-color .25s linear,box-shadow .25s linear,color .25s linear,opacity .25s linear;
  transition: background-color .25s linear,border-color .25s linear,box-shadow .25s linear,color .25s linear,opacity .25s linear; }

.menu > ul {
  background: #ffffff; }

.menu, .menu > ul ul {
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.js .menu, .js .menu > ul ul {
  overflow: hidden;
  max-height: 0;
  background: rgba(0, 0, 0, 0.1); }

.menu.active, .js .menu > ul ul.active {
  max-height: 55em; }

.menu ul {
  list-style: none;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

.menu li a {
  color: #000;
  display: block;
  padding: 20px 0 0 0;
  position: relative; }

a.main-nav-link {
  height: 60px;
  border-bottom: 5px solid #fff; }

.main-nav-item:hover .main-nav-link {
  /*border-color: #50E3C2;*/
  border-color: #70f8ba; }

.menu li.has-subnav > a:after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 1.5em;
  padding: 0.25em 0.5em; }

.level-2 a:hover {
  color: #8142B8; }

.level-2 {
  -webkit-transition: opacity 0.25s linear,visibility 0.25s linear;
  transition: opacity 0.25s linear,visibility 0.25s linear; }

@media screen and (min-width: 40em) {
  .site-navigation {
    display: inline;
    float: right;
    padding: 0 0 0em 0; }

  .level-1 {
    height: 60px; }

  .pattern {
    overflow: visible; }

  a.menu-link {
    display: none; }

  .js .menu, .js .menu > ul ul {
    max-height: none;
    overflow: visible;
    background: none; }

  .js .menu > ul ul {
    background: #f5f5f5;
    display: none; }

  .js .menu > ul li:hover > ul {
    display: block; }

  .menu ul {
    margin: 0 0 0 -0.25em;
    border: 0; }

  			/*.menu li.has-subnav > a {
  				padding-right: 1em;
  			}
  			.menu li.has-subnav > a:after {
  
  				font-size: 1em;
  				padding: 0.8em 0.5em;
  			}*/
  .menu > ul li {
    padding-right: 30px; }

  .menu > ul > li {
    display: inline-block;
    position: relative; }

  .menu > ul ul {
    box-shadow: 2px 2px 6px 0px rgba(154, 154, 154, 0.5);
    position: absolute;
    top: 0;
    left: 12em;
    width: 300px;
    z-index: 10;
    -webkit-transition: opacity 0.25s linear,visibility 0.25s linear;
    transition: opacity 0.25s linear,visibility 0.25s linear; }

  .menu > ul ul li {
    position: relative; }

  .menu > ul ul.level-2 {
    text-align: left;
    top: 60px;
    left: 4px; }

  .level-2 li a {
    padding: 15px 30px; } }
@media screen and (min-width: 48.25em) {
  .site-navigation {
    padding: 2em 0 0em 0; } }
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
/* Move to Content Section */
.site-branding {
  margin-top: 10px;
  display: inline;
  float: left; }

.site-branding img {
  width: 80%;
  height: auto; }

a.menu-link {
  float: right;
  padding: 2em; }

.site-navigation {
  text-align: center; }

.purpleblocks {
  background-color: #52538A; }

.yellowblocks {
  width: 100%;
  overflow: hidden; }

.blockwrap {
  box-shadow: 2px 2px 6px 0px rgba(154, 154, 154, 0.5);
  background-color: #fff;
  overflow: hidden;
  padding: 17px; }

.blockwrap ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.events li {
  padding: 1em 0;
  border-bottom: 2px solid #DFDFDF; }

.block1, .block2 {
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: #F3C62B;
  /*border: solid 30px #F3C62B;*/
  overflow: hidden; }

.funfacts {
  display: block;
  width: 100%;
  height: auto; }

.fact {
  padding-bottom: 20px; }

.p-left img {
  width: 100%;
  height: auto; }

.p-right {
  padding: 20px; }

.p-right p {
  margin: 0 0 .8em; }

.front-page-intro-text p {
  padding: 1em 1.5em; }

@media screen and (min-width: 48.25em) {
  .site-branding {
    margin-top: 0; }

  .p-right {
    padding: 40px; }

  .blockwrap {
    padding: 35px; }

  .block1, .block2 {
    padding: 30px;
    float: left;
    width: 50%; }

  .block-headline {
    font-family: montserrat;
    font-size: 31px; }

  .purpleblocks {
    max-width: 960px;
    width: 100%;
    height: auto;
    overflow: hidden; }

  .p-left {
    float: left;
    width: 50%; }

  .p-right {
    margin-left: 50%;
    width: 50%;
    padding-top: 60px; }

  .fact {
    display: block;
    float: left;
    width: 33%;
    padding: 20px 20px 70px; }

  .site-content {
    margin: 0 auto;
    max-width: 1020px; }

  .site-header, .hero {
    margin: 0 auto;
    max-width: 1220px; } }
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
/*==============================
=            Header            =
==============================*/
.hero {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 30px; }

/*
.hero__content {
  top: 70%;
  width:214px;
  background: rgba(115,159,162,0.80);
  font-family: Montserrat;
  font-weight:bold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.99px;


  position: absolute;
  transform: translateY(-30%);
  text-align: center;
}

*/
.hero__content {
  display: block;
  width: 100%;
  height: auto;
  background: #B9DDD2;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 24px;
  color: #346557;
  letter-spacing: 0.99px;
  padding: .5em 0; }

@media screen and (min-width: 697px) {
  /*
  .hero__content {
    top: 70%;
    width:428px;
    background: rgba(115,159,162,0.80);
    font-family: Montserrat;
    font-weight:bold;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 0.99px;
    position: absolute;
    transform: translateY(-30%);
    text-align: center;
  }
  */
  .hero__content {
    font-weight: normal;
    font-size: 40px;
    padding: .25em 0; } }
/*=====  End of Header  ======*/
.content-wrapper {
  padding-left: 30px;
  padding-right: 30px; }

/*
.site {
  border-top: 12px solid #6E4C7C;
}
*/
.top-bar {
  background-color: #6E4C7C;
  height: auto;
  width: 100%; }

.translate {
  clear: both;
  overflow: hidden; }

select.btn-translate {
  background-color: #60426C;
  color: #fff;
  border: none;
  height: 30px !important;
  width: 130px !important;
  border-radius: none;
  -webkit-appearance: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  padding: 3px !important;
  border: 0 !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px !important;
  -o-border-radius: 0px !important; }

.translate-wrapper {
  background-color: #60426C;
  float: right;
  padding: 5px 10px; }

.translate svg {
  color: #fff; }

.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.overlay-wrapper {
  position: relative; }

.header-overlay::after {
  background-color: rgba(184, 184, 184, 0.15);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; }

.header-image {
  display: block;
  width: 100%;
  height: auto; }

.logo-text, .logo {
  display: block;
  float: left; }

.logo {
  width: 4em;
  height: auto;
  overflow: auto; }

.logo svg {
  width: 100%;
  height: 100%; }

.logo-text svg {
  width: 104px;
  height: 33.6px; }

.logo-text {
  /*display:none;*/
  padding: 10% 0 0; }

@media screen and (min-width: 48.25em) {
  .logo {
    width: 110px; }

  .logo-text svg, .logo svg {
    width: 100%;
    height: 100%; }

  .logo-text {
    display: block;
    padding: 15% 0 0;
    max-width: 130px; } }
/*=====================================
=            Schedule Page            =
=====================================*/
/*
.schedule-filters {
  position:relative;
  display:block;
  margin:0 auto;
}
.schedule-filters ul {
  width:100%;
  text-align:center;
  list-style: none;
}

.schedule-filters li {
  display:inline-block;
}

a.btn-tag {
  text-decoration:none;
}

.btn-tag {
  color:#864ABB;
  background-color:#E4F4F0;
  padding:.5em;
}

*/
.schedule thead, .schedule tbody {
  font-family: 'Open Sans'; }

.schedule .align-right {
  text-align: center;
  width: 20%;
  padding-right: 40px; }

.schedule-wrapper {
  margin: 0 auto; }

.schedule {
  max-width: 960px;
  font-family: 'Montserrat', Arial, sans-serif;
  /* Table reset stuff */
  border-collapse: collapse;
  border-spacing: 0; }

.schedule caption {
  background-color: #6568A8;
  color: #fff;
  text-align: left;
  font-size: 14px;
  font-weight: 400; }

.schedule thead {
  background-color: #474976; }

/* morning */
.schedule.schedule__morning caption {
  background-color: #5386E4; }

.schedule.schedule__morning thead {
  background-color: #3E64AC; }

.schedule.schedule__morning tr:nth-child(even) td {
  /*background: #F6F6F6;*/
  background: #E7EDF9; }

.schedule.schedule__morning tr:nth-child(odd) td {
  /*background: #EFEFEF;*/
  background: #E7EDF9; }

.schedule.schedule__morning tbody tr td {
  font-size: 18px;
  /*border-bottom: 1px solid #e0e0e0;*/
  border-bottom: 1px solid #95AEDB; }

/* Afternoon */
.schedule.schedule__afternoon caption {
  background-color: #5FB49C; }

.schedule.schedule__afternoon thead {
  background-color: #468976; }

.schedule.schedule__afternoon tr:nth-child(even) td {
  /*background: #F6F6F6;*/
  background: #E5F2EE; }

.schedule.schedule__afternoon tr:nth-child(odd) td {
  /*background: #EFEFEF;*/
  background: #E5F2EE; }

.schedule.schedule__afternoon tbody tr td {
  font-size: 18px;
  /*border-bottom: 1px solid #e0e0e0;*/
  border-bottom: 1px solid #B1CCC4; }

/* Evening */
.schedule.schedule__evening caption {
  background-color: #6568A8; }

.schedule.schedule__evening thead {
  background-color: #474976; }

.schedule.schedule__evening tr:nth-child(even) td {
  /*background: #F6F6F6;*/
  background: #E8E9FA; }

.schedule.schedule__evening tr:nth-child(odd) td {
  /*background: #EFEFEF;*/
  background: #E8E9FA; }

.schedule.schedule__evening tbody tr td {
  font-size: 18px;
  /*border-bottom: 1px solid #e0e0e0;*/
  border-bottom: 1px solid #B8BADB; }

/* ******* */
.schedule caption span {
  font-size: 24px;
  font-weight: 700;
  padding-right: 20px; }

.schedule th {
  /*background: #474976;*/
  /*background: #B8BADB;*/
  color: #fff;
  text-align: left;
  /*border-bottom: 1px solid #B8BADB;*/ }

/* Zebra Stripe Rows */
.schedule tr:nth-child(even) td {
  /*background: #F6F6F6;*/
  background: #E8E9FA; }

.schedule tr:nth-child(odd) td {
  /*background: #EFEFEF;*/
  background: #E8E9FA; }

.schedule tbody tr span {
  font-size: 14px;
  display: block; }

.schedule tbody tr td {
  font-size: 18px;
  /*border-bottom: 1px solid #e0e0e0;*/
  border-bottom: 1px solid #B8BADB; }

.schedule caption, .schedule tbody tr td {
  padding: 20px 20px 20px 20px; }

.schedule thead th {
  padding: 10px 20px; }

.schedule tbody tr:last-child td {
  border-bottom: none; }

@media screen and (min-width: 464px) {
  .schedule-secret-break {
    display: none; }

  .schedule-wrapper {
    margin-top: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.25); } }
/*=====  End of Schedule Page  ======*/
/* Footer */
footer {
  padding: 2em 1em 1em;
  max-width: 1220px;
  margin: 0 auto;
  background-color: #302541;
  color: #fff; }

.footer-menu-container ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0; }

.footer-menu-center {
  margin: 0 auto; }

.footer-icon {
  padding-right: 4px; }

@media screen and (min-width: 48.25em) {
  .svg-logo svg {
    display: block;
    margin: 0 auto; }

  .three-col {
    text-align: center;
    display: block;
    float: left;
    width: 25%;
    height: auto;
    position: relative; }

  .six-col {
    display: block;
    float: left;
    width: 16.666%;
    height: auto;
    position: relative; }

  .col-left {
    margin-left: 8.333%; }

  .col-right {
    margin-left: 0;
    margin-right: 8.333%; }

  .footer-menu-center {
    /*text-align:center;*/
    padding: 0 11px; }

  .footer-menu-center img {
    display: block;
    margin: 0 auto; } }
/*====================================
=            Faculty Page            =
====================================*/
.teachers, .secondary-faculty {
  clear: both; }

.teachers img {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0; }

.teachers, .secondary-faculty {
  width: 100%;
  height: auto;
  margin: 0 auto 20px; }

.teachers {
  padding: 0 20px; }

.secondary-faculty {
  background-color: #F6F6F6;
  padding: 30px;
  margin-bottom: 20px; }

.secondary-faculty ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.secondary-faculty li {
  line-height: 28px; }

.secondary-faculty-name {
  color: #565656; }

.secondary-faculty h4 {
  margin: 0; }

@media screen and (min-width: 697px) {
  .teachers {
    clear: both;
    overflow: hidden;
    margin-bottom: 40px; }

  .secondary-faculty {
    margin-bottom: 40px; }

  .float-left {
    display: block;
    width: 20%;
    float: left; }

  .teachers img {
    max-width: 200px; }

  .teacher-description {
    display: block;
    float: right;
    width: 70%; } }
/*=====  End of Faculty Page  ======*/
/*=====================================
=            Programs Page            =
=====================================*/
.program-block-wrapper {
  display: none; }

.program {
  display: block;
  padding: 55px 0 31px;
  border-bottom: solid 2px #E4E4E4; }

@media screen and (min-width: 550px) {
  .program-block-wrapper {
    display: block;
    overflow: auto;
    margin-top: 30px; }

  .program-block {
    position: relative;
    width: 31.3333%;
    height: auto;
    display: block;
    float: left;
    margin: 0 1%; }

  .program-caption > span {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    color: #fff; }

  .caption-double > span {
    font-size: 25px; } }
@media screen and (min-width: 800px) {
  .caption-double > span {
    font-size: 30px; }

  .program-caption > span {
    font-size: 33px; } }
.program-caption {
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%; }

.caption-double {
  top: 20%; }

h3.program-title {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #0F0F0F;
  margin-bottom: 1em; }

h4.class-title {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 20px;
  color: #6566AA;
  font-style: normal;
  margin-bottom: 10px; }

.class-description p {
  font-family: 'Open sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-top: 0;
  margin-bottom: 24px; }

/*=====  End of Programs Page  ======*/
/*=====================================
=            Location Page            =
=====================================*/
.map-wrapper {
  margin-top: -30px;
  display: block;
  width: auto; }

@media screen and (min-width: 665px) {
  .map-wrapper {
    margin-top: 50px; } }
.map-wrapper img {
  display: block;
  width: 100%;
  max-width: 620px;
  height: auto;
  margin: 0 auto; }

.location-info {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  text-align: center;
  margin: 30px 0 80px; }

/*=====  End of Location Page  ======*/
/*=====================================
=            About Us Page            =
=====================================*/
.about-overview {
  font-family: 'Open sans';
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  padding: 50px 2em; }

.overview h3 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #6566AA;
  margin: 0; }

.admissions {
  background: url("/wp-content/uploads/assets/wslc_registration.jpg") #6568A8;
  padding: 2em;
  margin-bottom: 4em; }

@media screen and (min-width: 550px) {
  .admissions {
    padding: 4em;
    padding-bottom: 4em; } }
.admissions p {
  font-family: 'Open Sans';
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 0px; }

.admissions p a {
  color: #fff; }

span.admissions-phone, span.admissions-phone a {
  font-weight: 700;
  color: #70f8ba; }

h2.statement {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  font-style: normal;
  margin: 0; }

/*=====  End of About Us Page  ======*/
/*====================================
=            Contact Page            =
====================================*/
.contact-info {
  margin-bottom: 60px; }

/*=====  End of Contact Page  ======*/
/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }
