* {
	-webkit-font-smoothing: antialiased;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

footer {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:16px;
}
@media screen and (min-width: 48.25em) {
	.footer-address, .footer-social {
		text-align:center;
	}
}

.footer-menu-container {
	font-weight:300;
	font-size:13px;
	line-height:22px;
}

.footer-menu-container a{
	text-decoration:none;
	color:#fff;
}

.footer-menu-container a:hover{
	text-decoration:none;
	color:$color__header-caption;
}

h4.footer-top-links {
	font-weight:700;
	font-style:normal;
	margin:0;
	color:$color__header-caption;
}

/* Front page */

.menu {
	font-family:montserrat, sans-serif;
}
.front-page-intro-text p{
		font-family: open sans, Helvetica, Arial, sans-serif;
		font-weight:300;
		font-size:18px;

		text-align:center;
		color:#444444;
		line-height:1.7;
	}

.fact {
	text-align:center;
}
.fact strong {
	font-family:open sans;
	font-size:23px;
	color:#16B696;
}

.fact p {
	font-family:open sans;
	margin-top:5px;
	font-size:15px;
}

.purple-block-text {
    font-family:open sans;
    font-weight:300;
    font-size:23px;
    color:#E6E6E6;
}

.register-now {
        font-size:23px;
        font-weight:400;
        font-family:open sans, sans-serif;
        color:$color__link;
    }

.blockwrap li {
	text-align:left;
}

.blockwrap .events li{
	font-family: Montserrat;
	font-size: 20px;
	color: #6568A8;
}

.blockwrap .news li{
	font-family: Open Sans;
	font-size: 16px;
	color: #888888;
	letter-spacing: 0px;
	line-height: 23px;
}

.block-headline {
	font-family: Montserrat;
	font-weight:bold;
	font-size: 23px;
	color: #6568A8;
}



.event-date, .tribe-event-date-start {
	font-family: Montserrat;
	font-weight:bold;
	font-size: 25px;
	/*color: #73B4A5;*/
	color:$color__header-caption;
	margin-right:2em;
}

h4.entry-title {
	margin:0;
	display:inline;
}

h4.entry-title a{
	color: #404040;
	text-decoration:none;
	font-family: 'Open Sans';
	font-weight:400;
	font-style:normal;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}
.news-link {
	font-family: OpenSans;
	font-size: 16px;
	/*color: #73B4A5;*/
	color:$color__header-caption;
	letter-spacing: 0px;

}

.teacher-description {
font-family: 'Open Sans';
font-size: 16px;
color: #000000;
line-height: 24px;
margin:0 1.25em;
}

.site-content a {
	line-height:1.6;
	text-decoration:none;
	color:$color__header-purple;
	border-bottom: 1px solid $color__link;
}

.secondary-faculty h2 {
	margin:0 0 .25em;
}

.secondary-faculty-position i {
	font-family: 'Open Sans';
	font-weight:300;
	font-style:italic;
	font-size: 16px;
	color: #727272;
	margin:5px 0 16px;
}

@media screen and (min-width: 48.25em) {
	.block-headline {
		font-family: Montserrat;
		font-weight:bold;
		font-size: 31px;
		color: #6568A8;
	}

	.front-page-intro-text p{

		font-weight:300;
		font-size: 23px;
		padding: 1.25em;
		text-align:center;
		color:#444444;
		line-height:42px;
	}

	.teacher-description {
	font-size: 16px;
	line-height: 24px;
	}
}

.neon-green {
	color:$color__link;
}