h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h2 {
    font-family: 'Montserrat';
    font-size: 30px;
    color: #8142B8;
}

h3 {
    font-family: 'Open Sans';
    font-weight:700;
    margin:1em 0 0;
    font-size: 20px;
    color: #4B4B4B;
    letter-spacing: 0px;
}

@media screen and (min-width: 48.25em) {
    h3 {
        margin:0;
    }

    .main-nav-link {
        font-size:20px;
    }
}

h4 {

    font-family: 'Open Sans';
    font-weight:300;
    font-style:italic;
    font-size: 16px;
    color: #727272;
    margin:5px 0 16px;
}

