/*fancy nav */
.cd-nav-trigger {
    /* navigation trigger - visible on mobile devices only */
    float: right;
    position: relative;
    display: block;
    width: 44px;
    height: 34px;

    margin: 24px;
    /* hide text */
    overflow: hidden;
    white-space: nowrap;
    color: transparent;

    span, span::before, span::after {
        /* hamburger icon in CSS */
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 24px;
        background: black;
    }

    span {
        /* line in the center */
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -2px;
        @include transition(background .2s);
    }

    span::before, span::after {
        /* other 2 lines */
        content: '';
        right: 0;
        /* Force Hardware Acceleration in WebKit */
        @include transform(translateZ(0));
        @include backface-visibility(hidden);

        @include transform-origin(0% 50%);
        @include transition(transform .2s);
    }

    span::before {
        /* menu icon top line */
        top: -6px;
    }

    span::after {
        /* menu icon bottom line */
        top: 6px;
    }

    @media screen and (min-width: 40em) {
    	display:none;
    }

}
/*End fancy nav */

		a.menu-link {
  	    float: right;
		    display: block;
		    padding: 1em;
		}



		.menu a {
			text-decoration:none;
            -webkit-transition: background-color .25s linear,border-color .25s linear,box-shadow .25s linear,color .25s linear,opacity .25s linear;
            transition: background-color .25s linear,border-color .25s linear,box-shadow .25s linear,color .25s linear,opacity .25s linear;
		}

		.menu > ul{
			background:#ffffff;

		}
		.menu, .menu > ul ul {
			clear: both;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;

		}
		.js .menu, .js .menu > ul ul {
			overflow: hidden;
			max-height: 0;
			background: rgba(0,0,0,0.1);
		}
		.menu.active, .js .menu > ul ul.active {
			max-height: 55em;
		}

		.menu ul {
			list-style: none;
			margin: 0;
			-webkit-margin-before: 0;
			    -webkit-margin-after: 0;
			    -webkit-margin-start: 0;
			    -webkit-margin-end: 0;
			    -webkit-padding-start: 0;
		}
		.menu li a {

			color: #000;
			display: block;
			padding: 20px 0 0 0;
			position: relative;


		}

        a.main-nav-link {
            height:60px;
            border-bottom: 5px solid #fff;
        }

        .main-nav-item:hover .main-nav-link {
            /*border-color: #50E3C2;*/
            border-color:$color__link;

        }
		.menu li.has-subnav > a:after {

			position: absolute;
			top: 0;
			right: 0;
			display: block;
			font-size: 1.5em;
			padding: 0.25em 0.5em;

		}

		.level-2 a:hover {
			color:#8142B8;
		}

        .level-2 {
            -webkit-transition: opacity 0.25s linear,visibility 0.25s linear;
            transition: opacity 0.25s linear,visibility 0.25s linear;
        }




		@media screen and (min-width: 40em) {
            .site-navigation {
                display:inline;
                float:right;

                padding:0 0 0em 0;
            }

            .level-1 {
                height:60px;
            }

			.pattern {
				overflow: visible;
			}
			a.menu-link {
			   display: none;
			}
			.js .menu, .js .menu > ul ul {
				max-height: none;
				overflow: visible;
				background: none;
			}
			.js .menu > ul ul {
				background: #f5f5f5;
				display: none;
			}
			.js .menu > ul li:hover > ul {
				display: block;
			}
			.menu ul {
				margin: 0 0 0 -0.25em;
				border: 0;
			}

			/*.menu li.has-subnav > a {
				padding-right: 1em;
			}
			.menu li.has-subnav > a:after {

				font-size: 1em;
				padding: 0.8em 0.5em;
			}*/

			.menu > ul li {

                padding-right:30px;
			}

			.menu li.has-subnav a{

			}

			.menu > ul > li {
				display: inline-block;
				position: relative;
			}
			.menu > ul ul {
                box-shadow: 2px 2px 6px 0px rgba(154,154,154,0.50);
				position: absolute;
				top: 0;
				left: 12em;
				width: 300px;
				z-index:10;
                -webkit-transition: opacity 0.25s linear,visibility 0.25s linear;
                    transition: opacity 0.25s linear,visibility 0.25s linear;
			}
			.menu > ul ul li {
				position: relative;
			}
			.menu > ul ul.level-2 {
                text-align:left;
				top: 60px;
				left: 4px;
			}
            .level-2 li a {
                padding: 15px 30px;
            }
		}

        @media screen and (min-width: 48.25em) {
            .site-navigation {

                padding:2em 0 0em 0;
            }
        }