/*==============================
=            Header            =
==============================*/
.hero {
  display:block;
  position:relative;
  width:100%;
  height:auto;
  margin-bottom:30px;
}

/*
.hero__content {
  top: 70%;
  width:214px;
  background: rgba(115,159,162,0.80);
  font-family: Montserrat;
  font-weight:bold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.99px;


  position: absolute;
  transform: translateY(-30%);
  text-align: center;
}

*/

.hero__content {
  display:block;
  width:100%;
  height:auto;
  background: #B9DDD2;
  font-family: Montserrat;
  font-weight:normal;
  font-size: 24px;
  color: #346557;
  letter-spacing: 0.99px;
  padding:.5em 0;

}

@media screen and (min-width: 697px) {
    /*
    .hero__content {
      top: 70%;
      width:428px;
      background: rgba(115,159,162,0.80);
      font-family: Montserrat;
      font-weight:bold;
      font-size: 40px;
      color: #FFFFFF;
      letter-spacing: 0.99px;
      position: absolute;
      transform: translateY(-30%);
      text-align: center;
    }
    */
    .hero__content {


      font-weight:normal;
      font-size: 40px;
      padding:.25em 0;


    }
}


/*=====  End of Header  ======*/



.content-wrapper {
  padding-left:30px;
  padding-right:30px;
}

/*
.site {
  border-top: 12px solid #6E4C7C;
}
*/

.top-bar {
  background-color:#6E4C7C;
  height:auto;
  width:100%;

}

.translate {
  clear:both;
  overflow:hidden;
}



select.btn-translate {


  background-color: #60426C;
  color:#fff;
  border:none;
  height:30px !important;
  width:130px !important;
  border-radius: none;
  -webkit-appearance:none;



    box-shadow:none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
    padding:3px !important;

    border:0 !important;
    border-radius:0px !important;
    -webkit-border-radius:0px;
    -moz-border-radius:0px !important;
    -o-border-radius:0px !important;

}

.translate-wrapper {
  background-color: #60426C;
  float:right;
  padding: 5px 10px;
}
.translate svg {

    color:#fff;
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.overlay-wrapper {
  position:relative;
}
.header-overlay::after {
  background-color: rgba(184,184,184,0.15);
      bottom: 0;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
}

.header-image {
  display:block;
    width:100%;
    height:auto;
}

.logo-text, .logo{
  display:block;
  float:left;
}
.logo {
  width:4em;
  height:auto;
  overflow:auto;
}
.logo svg{
  width:100%;
  height:100%;
}

.logo-text svg {
  width:104px;
  height:33.6px;
}


.logo-text {
  /*display:none;*/
  padding:10% 0 0;
}



@media screen and (min-width: 48.25em) {
  .logo {
    width:110px;
  }
  .logo-text svg, .logo svg{
    width:100%;
    height:100%;
  }

  .logo-text {
    display:block;
    padding:15% 0 0;
    max-width:130px;
  }

}


/*=====================================
=            Schedule Page            =
=====================================*/

/*
.schedule-filters {
  position:relative;
  display:block;
  margin:0 auto;
}
.schedule-filters ul {
  width:100%;
  text-align:center;
  list-style: none;
}

.schedule-filters li {
  display:inline-block;
}

a.btn-tag {
  text-decoration:none;
}

.btn-tag {
  color:#864ABB;
  background-color:#E4F4F0;
  padding:.5em;
}

*/

.schedule thead, .schedule tbody {
  font-family: 'Open Sans';
}

    .schedule .align-right {
        text-align:center;
        width:20%;
        padding-right:40px;
    }

    .schedule tbody .align-right {

    }
    .schedule-wrapper {
      margin:0 auto;
    }
    .schedule {

        max-width:960px;
      font-family: 'Montserrat', Arial, sans-serif;

      /* Table reset stuff */
      border-collapse: collapse; border-spacing: 0;
    }

    .schedule caption {
        background-color:#6568A8;
        color:#fff;
        text-align:left;
        font-size:14px;
        font-weight:400;
    }

    .schedule thead {
      background-color:#474976;
    }
/* morning */

    .schedule.schedule__morning caption {
      background-color: #5386E4;
    }

    .schedule.schedule__morning thead {
      background-color:#3E64AC;
    }

    .schedule.schedule__morning tr:nth-child(even) td {
        /*background: #F6F6F6;*/
        background: #E7EDF9;
    }
    .schedule.schedule__morning tr:nth-child(odd) td {
        /*background: #EFEFEF;*/
        background: #E7EDF9;
    }

    .schedule.schedule__morning tbody tr td {
      font-size: 18px;
      /*border-bottom: 1px solid #e0e0e0;*/
      border-bottom: 1px solid #95AEDB;
    }
/* Afternoon */

    .schedule.schedule__afternoon caption {
      background-color: #5FB49C;
    }

    .schedule.schedule__afternoon thead {
      background-color:#468976;
    }

    .schedule.schedule__afternoon tr:nth-child(even) td {
        /*background: #F6F6F6;*/
        background: #E5F2EE;
    }
    .schedule.schedule__afternoon tr:nth-child(odd) td {
        /*background: #EFEFEF;*/
        background: #E5F2EE;
    }

    .schedule.schedule__afternoon tbody tr td {
      font-size: 18px;
      /*border-bottom: 1px solid #e0e0e0;*/
      border-bottom: 1px solid #B1CCC4;
    }
/* Evening */

    .schedule.schedule__evening caption {
      background-color: #6568A8;
    }

    .schedule.schedule__evening thead {
      background-color:#474976;
    }

    .schedule.schedule__evening tr:nth-child(even) td {
        /*background: #F6F6F6;*/
        background: #E8E9FA;
    }
    .schedule.schedule__evening tr:nth-child(odd) td {
        /*background: #EFEFEF;*/
        background: #E8E9FA;
    }

    .schedule.schedule__evening tbody tr td {
      font-size: 18px;
      /*border-bottom: 1px solid #e0e0e0;*/
      border-bottom: 1px solid #B8BADB;
    }

/* ******* */

    .schedule caption span {
        font-size:24px;
        font-weight:700;
        padding-right:20px;
    }

    .schedule th{
        /*background: #474976;*/
        /*background: #B8BADB;*/
        color:#fff;
        text-align: left;
        /*border-bottom: 1px solid #B8BADB;*/

    }



    /* Zebra Stripe Rows */

    .schedule tr:nth-child(even) td {
        /*background: #F6F6F6;*/
        background: #E8E9FA;
    }
    .schedule tr:nth-child(odd) td {
        /*background: #EFEFEF;*/
        background: #E8E9FA;
    }

    .schedule tbody tr span {
        font-size:14px;
        display:block;
    }

    .schedule tbody tr td {
      font-size: 18px;
      /*border-bottom: 1px solid #e0e0e0;*/
      border-bottom: 1px solid #B8BADB;
    }

    .schedule caption, .schedule tbody tr td {
        padding: 20px 20px 20px 20px;
    }

    .schedule thead th {
      padding: 10px 20px;
    }

    .schedule tbody tr:last-child td {
      border-bottom: none;
    }



  @media screen and (min-width: 464px) {
    .schedule-secret-break {
      display:none;
    }
      .schedule-wrapper {

        margin-top:30px;
        box-shadow: 0 0 40px rgba(0,0,0,0.25);



      }

  }

    /*=====  End of Schedule Page  ======*/

/* Footer */

footer {
  padding:2em 1em 1em;
  max-width: 1220px;
  margin:0 auto;
  background-color:#302541;
  color:#fff;
}

.footer-menu-container ul{
  list-style:none;
  margin-top:0;
  padding-left:0;
}

.footer-menu-center {
  margin:0 auto;
}

.footer-icon {
  padding-right: 4px;
}

@media screen and (min-width: 48.25em) {
  .svg-logo svg{
    display:block;
    margin: 0 auto;
  }
  .three-col {
    text-align:center;
    display:block;
    float:left;
    width:25%;
    height:auto;
    position:relative;
  }



  .six-col {

    display:block;
    float:left;
    width:16.666%;
    height:auto;
    position:relative;
  }

  .col-left {
    margin-left:8.333%;
  }

  .col-right {
    margin-left:0;
    margin-right:8.333%;
  }

  .footer-menu-center{
    /*text-align:center;*/
    padding:0 11px;
  }

  .footer-menu-center img {
    display:block;
    margin:0 auto;
  }

}

/*====================================
=            Faculty Page            =
====================================*/
.teachers, .secondary-faculty {
  clear:both;
}
.teachers img {
    display:block;
    width: 100%;
    max-width:200px;
    margin:0;
}

.teachers, .secondary-faculty {
    width:100%;
    height: auto;
    margin:0 auto 20px;
}

.teachers {
  padding:0 20px;
}

.secondary-faculty {
  background-color: #F6F6F6;
  padding:30px;
  margin-bottom:20px;
}

.secondary-faculty ul {
  list-style: none;
  margin:0;
  padding:0;
}

.secondary-faculty li {
  line-height: 28px;
}

.secondary-faculty-name {
  color:#565656;
}

.secondary-faculty h4 {
  margin:0;
}

.secondary-faculty-position {

}

@media screen and (min-width: 697px) {
  .teachers {
      clear:both;
      overflow:hidden;
      margin-bottom:40px;
  }
  .secondary-faculty {
    margin-bottom:40px;
  }
  .float-left {
      display:block;
      width:20%;
      float:left;
  }
  .teachers img {

      max-width:200px;
  }
  .teacher-description {
    display: block;
      float:right;
      width:70%;
  }
}

/*=====  End of Faculty Page  ======*/

/*=====================================
=            Programs Page            =
=====================================*/
.program-block-wrapper {
  display:none;

}

.program {
  display:block;
  padding:55px 0 31px;
  border-bottom: solid 2px #E4E4E4;
}

@media screen and (min-width: 550px) {
  .program-block-wrapper {
    display:block;
    overflow:auto;
    margin-top:30px;

  }
  .program-block {
    position:relative;
    width:31.3333%;
    height:auto;
    display:block;
    float:left;
    margin:0 1%;
  }

  .program-caption > span {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    color: #fff;
  }

  .caption-double > span{
    font-size:25px;
  }
}

@media screen and (min-width: 800px) {
  .caption-double > span{
    font-size:30px;
  }

  .program-caption > span{
    font-size:33px;
  }
}



.program-caption {
  position:absolute;
  top:35%;
  text-align:center;
  width:100%;

}

.caption-double {
  top:20%;
}



h3.program-title {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #0F0F0F;
  margin-bottom:1em;
}

h4.class-title {

  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 20px;
  color: #6566AA;
  font-style: normal;
  margin-bottom:10px;
}

.class-description p{

  font-family: 'Open sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-top:0;
  margin-bottom:24px;

}




/*=====  End of Programs Page  ======*/

/*=====================================
=            Location Page            =
=====================================*/

.map-wrapper {
  margin-top: -30px;
  display:block;
  width:auto;
}

@media screen and (min-width: 665px) {
  .map-wrapper {
    margin-top: 50px;
  }
}

.map-wrapper img {
  display:block;
  width:100%;
  max-width:620px;
  height:auto;
  margin: 0 auto;
}



.location-info {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:16px;
  color:#000;
  text-align:center;
  margin: 30px 0 80px;
}


/*=====  End of Location Page  ======*/

/*=====================================
=            About Us Page            =
=====================================*/
.about-overview {

  font-family: 'Open sans';
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  padding: 50px 2em;

}

.overview h3 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #6566AA;
  margin:0;
}









.admissions {
  background: url('/wp-content/uploads/assets/wslc_registration.jpg') #6568A8;
  padding:2em;
  margin-bottom:4em;

}

@media screen and (min-width: 550px) {
  .admissions {
    padding:4em;
    padding-bottom:4em;
  }
}

.admissions p {
  font-family: 'Open Sans';
  font-size:24px;
  color:#fff;
  text-align:center;
  margin-bottom:0px;
}

.admissions p a {
  color:#fff;
}

span.admissions-phone, span.admissions-phone a {
  font-weight:700;
  color:$color__link;
}

h2.statement {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  font-style: normal;
  margin:0;
}


/*=====  End of About Us Page  ======*/

/*====================================
=            Contact Page            =
====================================*/
.contact-info {
  margin-bottom:60px;
}


/*=====  End of Contact Page  ======*/



